@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
    background-color: #1b1b1b;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navigation bar */

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #ececec;
    font-size: 20px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.container {
    width: 50px;
    height: 50px;

}

.container img {
    cursor: pointer;
    width: 100%;
    height: auto;
    
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: rgb(129, 129, 129);
}

button {
    padding: 9px 25px;
    background-color: rgba(129, 129, 129, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(129, 129, 129, 0.8);
}

/* Hero image */

.hero-container {
    width: 1665px;
    height: 100px;
}

.hero-container img {
    width: 40%;
    height: auto;
}

/* Hero heading */

